body, html {
    height: 100%;
    margin: auto;
    scroll-behavior: smooth;
    background-color: rgb(17, 17, 17);
  }

  .navbar {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.685);
    position: fixed;
    top: 0;
    width: 100%;
    list-style: none;
    text-align: center;
    z-index: 2;
  }
  
  .navbar a {
    display: inline-block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
    font-size: 40px;
  }
  
  .navbar a:hover {
    background: #ddd;
    color: black;
  }

#download{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
}